:root {
  --primarytype-grey-1: rgba(60, 64, 67, 1);
  --primarytype-grey-2: rgba(108, 112, 116, 1);
  --primaryblue: rgba(26, 94, 193, 1);
  --primarysea-blue: rgba(66, 133, 244, 1);
  --primarybg-white: rgba(255, 255, 255, 1);
  --primarygrey-separator: rgba(218, 220, 224, 1);
  --primarybg-light-grey: rgba(240, 243, 244, 1);
  --primary-h2-600-font-family: "Product Sans Medium", Helvetica;
  --primary-h2-600-font-weight: 400;
  --primary-h2-600-font-size: 18px;
  --primary-h2-600-letter-spacing: 0px;
  --primary-h2-600-line-height: 24px;
  --primary-h2-600-font-style: normal;
  --secondary-sh1-500-font-family: "Roboto", Helvetica;
  --secondary-sh1-500-font-weight: 500;
  --secondary-sh1-500-font-size: 13px;
  --secondary-sh1-500-letter-spacing: 0px;
  --secondary-sh1-500-line-height: 20px;
  --secondary-sh1-500-font-style: normal;
  --secondary-sh2-400-font-family: "Roboto", Helvetica;
  --secondary-sh2-400-font-weight: 400;
  --secondary-sh2-400-font-size: 12px;
  --secondary-sh2-400-letter-spacing: 0px;
  --secondary-sh2-400-line-height: 16px;
  --secondary-sh2-400-font-style: normal;
  --primary-h1-500-font-family: "Product Sans", Helvetica;
  --primary-h1-500-font-weight: 400;
  --primary-h1-500-font-size: 22px;
  --primary-h1-500-letter-spacing: 0px;
  --primary-h1-500-line-height: 28px;
  --primary-h1-500-font-style: normal;
  --primary-sh1-500-font-family: "Product Sans", Helvetica;
  --primary-sh1-500-font-weight: 400;
  --primary-sh1-500-font-size: 14px;
  --primary-sh1-500-letter-spacing: 0px;
  --primary-sh1-500-line-height: 20px;
  --primary-sh1-500-font-style: normal;
  --secondary-sh2-500-font-family: "Roboto", Helvetica;
  --secondary-sh2-500-font-weight: 500;
  --secondary-sh2-500-font-size: 12px;
  --secondary-sh2-500-letter-spacing: 0px;
  --secondary-sh2-500-line-height: 16px;
  --secondary-sh2-500-font-style: normal;
  --secondary-sh1-600-font-family: "Roboto", Helvetica;
  --secondary-sh1-600-font-weight: 600;
  --secondary-sh1-600-font-size: 13px;
  --secondary-sh1-600-letter-spacing: 0px;
  --secondary-sh1-600-line-height: 20px;
  --secondary-sh1-600-font-style: normal;
}
