.predict {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.predict .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.predict .header-nav {
  position: absolute;
  width: 1440px;
  height: 73px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #66666640;
}



.predict .logo {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 17px;
  left: 40px;
  object-fit: cover;
}

.predict .links {
  display: inline-flex;
  align-items: flex-end;
  gap: 40px;
  position: absolute;
  top: 26px;
  left: 120px;
}

.predict .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #666666cc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.predict .mobile-designs {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #111111;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.predict .login-sign-up {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: absolute;
  top: 17px;
  left: 1188px;
}

.predict .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 98px;
  height: 40px;
  background-color: #1848d6;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #111111;
}

.predict .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  top: 8px;
  left: 26px;
}

.predict .sign-up {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.predict .frame-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 98px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #111111;
}

.predict .frame-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  top: 8px;
  left: 20px;
}

.predict .sign-up-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #111111;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.predict .divider {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 72px;
  left: 0;
  background-color: #66666640;
}

.predict .footer {
  position: absolute;
  width: 1440px;
  height: 56px;
  top: 969px;
  left: 0;
  background-color: #ffffff;
}

.predict .links-2 {
  display: inline-flex;
  align-items: flex-end;
  gap: 40px;
  position: absolute;
  top: 18px;
  left: 462px;
}

.predict .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #666666;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.predict .divider-top {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #66666640;
}

.predict .sidebar {
  position: absolute;
  width: 240px;
  height: 896px;
  top: 73px;
  left: 0;
  background-color: #e7ecfc;
}

.predict .left-nav {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  top: 26px;
  left: 18px;
}

.predict .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.predict .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.predict .left-nav-2 {
  width: 204px;
  align-items: center;
  gap: 16px;
  padding: 8px 65px 8px 0px;
  flex: 0 0 auto;
  border-radius: 0px 50px 50px 0px;
  display: flex;
  position: relative;
}

.predict .frame-5 {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.predict .img {
  position: relative;
  width: 20px;
  height: 20px;
}

.predict .computers {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--secondary-sh1-500-font-family);
  font-weight: var(--secondary-sh1-500-font-weight);
  color: var(--primarytype-grey-2);
  font-size: var(--secondary-sh1-500-font-size);
  letter-spacing: var(--secondary-sh1-500-letter-spacing);
  line-height: var(--secondary-sh1-500-line-height);
  white-space: nowrap;
  font-style: var(--secondary-sh1-500-font-style);
}

.predict .outline-arrow-right {
  margin-top: -1272.00px;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: -1560.00px;
}

.predict .outline-arrow-right-2 {
  margin-top: -1308.00px;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: -1560.00px;
}

.predict .outline-arrow-right-3 {
  margin-top: -1344.00px;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: -1560.00px;
}

.predict .outline-arrow-right-4 {
  margin-top: -1380.00px;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: -1560.00px;
}

.predict .vector {
  position: relative;
  width: 204px;
  height: 1px;
  margin-bottom: -0.50px;
  object-fit: cover;
}

.predict .group {
  position: relative;
  width: 204px;
  height: 90px;
}

.predict .left-nav-3 {
  display: flex;
  width: 204px;
  align-items: center;
  gap: 16px;
  padding: 8px 65px 8px 0px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px 50px 50px 0px;
}

.predict .outline-arrow-right-5 {
  margin-top: -1440.00px;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: -1560.00px;
}

.predict .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: absolute;
  top: 44px;
  left: 20px;
}

.predict .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.predict .overlap-group-wrapper {
  position: relative;
  width: 147px;
  height: 1px;
}

.predict .overlap-group {
  position: relative;
  width: 149px;
  height: 2px;
  top: -1px;
  left: -1px;
}

.predict .vector-2 {
  position: absolute;
  width: 148px;
  height: 2px;
  top: 0;
  left: 0;
}

.predict .vector-3 {
  position: absolute;
  width: 109px;
  height: 2px;
  top: 0;
  left: 0;
}

.predict .p {
  position: relative;
  width: fit-content;
  font-family: var(--secondary-sh2-400-font-family);
  font-weight: var(--secondary-sh2-400-font-weight);
  color: var(--primarytype-grey-2);
  font-size: var(--secondary-sh2-400-font-size);
  letter-spacing: var(--secondary-sh2-400-letter-spacing);
  line-height: var(--secondary-sh2-400-line-height);
  white-space: nowrap;
  font-style: var(--secondary-sh2-400-font-style);
}

.predict .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--secondary-sh1-500-font-family);
  font-weight: var(--secondary-sh1-500-font-weight);
  color: var(--primaryblue);
  font-size: var(--secondary-sh1-500-font-size);
  letter-spacing: var(--secondary-sh1-500-letter-spacing);
  line-height: var(--secondary-sh1-500-line-height);
  white-space: nowrap;
  font-style: var(--secondary-sh1-500-font-style);
}

.predict .upload-step {
  display: flex;
  flex-direction: column;
  width: 1049px;
  height: 793px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  position: absolute;
  top: 124px;
  left: 318px;
  background-color: var(--alias-bgcolor-light);
  border-radius: var(--brand-radi-xl);
  box-shadow: var(--shadow-centreop4);
}

.predict .title-section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.predict .master-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-spacing-smd);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.predict .wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-spacing-xs);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.predict .left {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-spacing-xxxs);
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.predict .title-section {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--heading-h3-font-family);
  font-weight: var(--heading-h3-font-weight);
  color: var(--alias-textcolor-default);
  font-size: var(--heading-h3-font-size);
  letter-spacing: var(--heading-h3-letter-spacing);
  line-height: var(--heading-h3-line-height);
  font-style: var(--heading-h3-font-style);
}

.predict .desc {
  position: relative;
  align-self: stretch;
  height: 20px;
  font-family: var(--body-small-font-family);
  font-weight: var(--body-small-font-weight);
  color: var(--alias-textcolor-secdefault);
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: var(--body-small-font-style);
}

.predict .divider-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-image: url(./img/solid-line-full-2.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.predict .upload-drag-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: var(--spacing-spacing-lg);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--alias-bgcolor-light);
  border-radius: var(--radii-radi-mlg);
  border: 1px dashed;
  border-color: var(--alias-strokecolor-primary);
}

.predict .upload {
  position: relative;
  width: 42px;
  height: 42px;
}

.predict .overlap-group-2 {
  position: relative;
  height: 42px;
}

.predict .vector-4 {
  position: absolute;
  width: 23px;
  height: 8px;
  top: 3px;
  left: 14px;
}

.predict .vector-5 {
  position: absolute;
  width: 23px;
  height: 12px;
  top: 0;
  left: 0;
}

.predict .vector-6 {
  position: absolute;
  width: 42px;
  height: 32px;
  top: 10px;
  left: 0;
}

.predict .vector-7 {
  position: absolute;
  width: 21px;
  height: 32px;
  top: 10px;
  left: 21px;
}

.predict .vector-8 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 15px;
  left: 10px;
}

.predict .vector-9 {
  position: absolute;
  width: 11px;
  height: 22px;
  top: 15px;
  left: 21px;
}

.predict .vector-10 {
  position: absolute;
  width: 8px;
  height: 10px;
  top: 21px;
  left: 17px;
}

.predict .vector-11 {
  position: absolute;
  width: 4px;
  height: 10px;
  top: 21px;
  left: 21px;
}

.predict .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.predict .text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.predict .drag-your-file-s-to {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-small-font-family);
  font-weight: var(--body-small-font-weight);
  color: var(--alias-textcolor-default);
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  white-space: nowrap;
  font-style: var(--body-small-font-style);
}

.predict .divider-3 {
  display: flex;
  width: 201px;
  align-items: center;
  gap: var(--spacing-spacing-smd);
  position: relative;
  flex: 0 0 auto;
}

.predict .line {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 1px;
  background-color: var(--alias-strokecolor-lightgrey);
}

.predict .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-tiny-font-family);
  font-weight: var(--body-tiny-font-weight);
  color: var(--alias-textcolor-secdefault);
  font-size: var(--body-tiny-font-size);
  text-align: center;
  letter-spacing: var(--body-tiny-letter-spacing);
  line-height: var(--body-tiny-line-height);
  white-space: nowrap;
  font-style: var(--body-tiny-font-style);
}

.predict .button-rounded {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.predict .master-outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-spacing-sm);
  padding: var(--spacing-spacing-xs) var(--spacing-spacing-smd)
    var(--spacing-spacing-xs) var(--spacing-spacing-smd);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--alias-button-primaryoutline-default);
  border-radius: var(--radii-radi-mlg);
  border: 1px solid;
  border-color: var(--alias-button-primaryoutline-stroke);
}

.predict .button-2 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-tinystrong-font-family);
  font-weight: var(--body-tinystrong-font-weight);
  color: var(--alias-textcolor-primary);
  font-size: var(--body-tinystrong-font-size);
  letter-spacing: var(--body-tinystrong-letter-spacing);
  line-height: var(--body-tinystrong-line-height);
  white-space: nowrap;
  font-style: var(--body-tinystrong-font-style);
}

.predict .buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.predict .master-outline-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-spacing-sm);
  padding: var(--spacing-spacing-smd) var(--spacing-spacing-md)
    var(--spacing-spacing-smd) var(--spacing-spacing-md);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--alias-button-neutraloutline-default);
  border-radius: var(--radii-radi-mlg);
  border: 1px solid;
  border-color: var(--alias-button-neutraloutline-stroke);
}

.predict .button-3 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-smallstrong-font-family);
  font-weight: var(--body-smallstrong-font-weight);
  color: var(--alias-textcolor-secdefault);
  font-size: var(--body-smallstrong-font-size);
  letter-spacing: var(--body-smallstrong-letter-spacing);
  line-height: var(--body-smallstrong-line-height);
  white-space: nowrap;
  font-style: var(--body-smallstrong-font-style);
}

.predict .master-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-spacing-sm);
  padding: var(--spacing-spacing-smd) var(--spacing-spacing-md)
    var(--spacing-spacing-smd) var(--spacing-spacing-md);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--alias-button-primary-disabled);
  border-radius: var(--radii-radi-mlg);
}

.predict .button-4 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-smallstrong-font-family);
  font-weight: var(--body-smallstrong-font-weight);
  color: var(--alias-textcolor-disabled);
  font-size: var(--body-smallstrong-font-size);
  letter-spacing: var(--body-smallstrong-letter-spacing);
  line-height: var(--body-smallstrong-line-height);
  white-space: nowrap;
  font-style: var(--body-smallstrong-font-style);
}

.predict .upload-upload-URL {
  display: flex;
  flex-direction: column;
  height: 87px;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--alias-bgcolor-light);
  border-radius: var(--radii-radi-lg);
  border: 1px solid;
  border-color: var(--alias-strokecolor-lightgrey);
}

.predict .row {
  display: flex;
  align-items: center;
  gap: var(--spacing-spacing-smd);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.predict .text-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.predict .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--body-tinystrong-font-family);
  font-weight: var(--body-tinystrong-font-weight);
  color: var(--alias-textcolor-default);
  font-size: var(--body-tinystrong-font-size);
  letter-spacing: var(--body-tinystrong-letter-spacing);
  line-height: var(--body-tinystrong-line-height);
  font-style: var(--body-tinystrong-font-style);
}

.predict .element-seconds {
  position: relative;
  width: fit-content;
  font-family: var(--caption-small-font-family);
  font-weight: var(--caption-small-font-weight);
  color: var(--alias-textcolor-secdefault);
  font-size: var(--caption-small-font-size);
  letter-spacing: var(--caption-small-letter-spacing);
  line-height: var(--caption-small-line-height);
  white-space: nowrap;
  font-style: var(--caption-small-font-style);
}

.predict .action {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.predict .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.predict .progress-linear {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 8px;
  background-color: var(--alias-bgcolor-lightgrey);
  border-radius: var(--spacing-spacing-xxxl);
}

.predict .master-linear {
  width: 194px;
  height: 8px;
  background-color: var(--alias-bgcolor-primary);
  border-radius: var(--spacing-spacing-xxxl);
}

.predict .divider-4 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-image: url(./img/solid-line-full.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.predict .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--heading-h3-font-family);
  font-weight: var(--heading-h3-font-weight);
  color: var(--alias-textcolor-default);
  font-size: var(--heading-h3-font-size);
  text-align: center;
  letter-spacing: var(--heading-h3-letter-spacing);
  line-height: var(--heading-h3-line-height);
  font-style: var(--heading-h3-font-style);
}

.predict .desc-2 {
  text-align: center;
  position: relative;
  align-self: stretch;
  height: 20px;
  font-family: var(--body-small-font-family);
  font-weight: var(--body-small-font-weight);
  color: var(--alias-textcolor-secdefault);
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: var(--body-small-font-style);
}

.predict .overlap-wrapper {
  position: relative;
  width: 302px;
  height: 150px;
}

.predict .overlap {
  position: relative;
  width: 360px;
  height: 210px;
  top: -20px;
  left: -30px;
  background-image: url(./img/group-2.png);
  background-size: 100% 100%;
}

.predict .text-wrapper-6 {
  position: absolute;
  height: 33px;
  top: 78px;
  left: 72px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.predict .div-wrapper {
  position: absolute;
  width: 82px;
  height: 80px;
  top: 54px;
  left: 204px;
}

.predict .overlap-group-3 {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.predict .text-wrapper-7 {
  position: absolute;
  width: 60px;
  height: 30px;
  top: 25px;
  left: 12px;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--white);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.predict .ellipse-wrapper {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  border-radius: 40px;
  border: 4px solid;
  border-color: #ff7e07;
}

.predict .ellipse {
  position: absolute;
  width: 42px;
  height: 80px;
  top: -4px;
  left: -4px;
}
